<p>
  Angel Garibo Registro!
</p>

<div class="row ingreso">
    <div class="col-md-">
    <label>Nombre:</label>
    <input type="text"[(ngModel)]="usuarioRegistro.nombre" name="nombre">
    
    <label>Apellido:</label>
    <input type="text" [(ngModel)]="usuarioRegistro.apellido" name="apellido">
    
    <label>Telefono:</label>
    <input type="text" [(ngModel)]="usuarioRegistro.telefono" name="telefono">
</div>

  <div class="col-md-5 columna">
      <button type="button" class="boton btn" (click)="registroUsuario(usuarioRegistro)"> 
          <b>Agregar</b> 
      </button>
  </div>

  <div class="col-md-3 muestra">
      <strong>{{usuarioRegistro.nombre}}{{"  "}}{{usuarioRegistro.apellido}}{{"  "}}{{usuarioRegistro.telefono}}</strong>
  </div>
</div>
<div class="row lista">
    <ul *ngFor="let usuario of listaUsuarios">
        <li>{{usuario.nombre}}{{"  "}}{{usuario.apellido}}{{"  "}}{{usuario.telefono}}</li>
      </ul>
    
</div>

  
